<link rel="stylesheet" type="text/css" href="/static/components/css/scg.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/scs.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/html.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/github.css" />
 <link rel="stylesheet" href="/static/components/bootstrap/css/bootstrap.min.css">

    <!-- jvectormap -->
    <link rel="stylesheet" href="/static/components/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/static/components/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/static/components/dist/css/skins/_all-skins.css">

    <link rel="shortcut icon" href="/static/components/images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/static/components/images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/components/images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/components/images/icons/favicon-114x114.png">

    <link type="text/css" rel="stylesheet" href="/static/components/styles/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="/static/components/styles/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/static/components/styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/components/styles/animate.css">
    <link type="text/css" rel="stylesheet" href="/static/components/styles/all.css">

    <link type="text/css" rel="stylesheet" href="/static/components/styles/style-responsive.css">
    <link type="text/css" rel="stylesheet" href="/static/components/styles/zabuto_calendar.min.css">
    <link type="text/css" rel="stylesheet" href="/static/components/styles/pace.css">
    <link type="text/css" rel="stylesheet" href="/static/components/styles/jquery.news-ticker.css">



    <script src="/static/components/dist/js/app.js"></script>
    <!-- Sparkline -->


<script type="text/javascript" charset="utf-8" src="/static/components/js/sc-web-core.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/scs/scs.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/scg/scg.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/image/image.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/txt/txt.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/html/html.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/youtube/youtubelink.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/map/googlemaplink.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/github/github.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/pdf/pdf.js"></script>



